.overlay{
  position:fixed;
  inset:0;

  background:rgba(0,0,0,.5);

  display:flex;
  justify-content:center;
  align-items:center;

  z-index:999;
}

.modal{

  width:500px;
  max-width:90%;

  background:white;

  border-radius:14px;

  padding:24px;
}

.modal h2{
  margin-bottom:20px;
}

.modal textarea{

  width:100%;
  resize:none;

  padding:12px;

  border:1px solid #ddd;

  border-radius:10px;

  font-size:15px;
}

.modal select{

  width:100%;

  margin-top:15px;

  padding:10px;

  border-radius:10px;
}

.actions{

  margin-top:20px;

  display:flex;
  justify-content:flex-end;

  gap:12px;
}

.actions button{

  padding:10px 18px;

  border:none;

  border-radius:10px;

  cursor:pointer;
}

.actions button:first-child{

  background:#f3f4f6;
}

.actions button:last-child{

  background:#2563eb;

  color:white;
}